.card {
    border-radius: 2px;
    border: none;
    height: 20rem;
    width: 30rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 9rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

